http://caddy.hzol.ir #put you domain or server ip here! {
    root * /srv
    file_server browse

    basicauth * {
        zolfi $2a$14$rcZGUFWybIz5nKLXWRkmTua7/jtvkTrz5IZn6rk7nufRhKzFG2tEy #xaas@321 
    }
}

